/* ============================================= */
/*              Color Variables                  */
/* ============================================= */
/* ============================================= */
/*              Media Query Variables                      */
/* ============================================= */
/* ============================================= */
/*              Layout Variables                      */
/* ============================================= */
/* ============================================= */
/*              Utility Classes                  */
/* ============================================= */
.white {
  color: #fff;
}

.white-btn {
  background-color: #fff;
  color: #ff525d;
  padding: 15px 20px;
  border-radius: 30px;
  cursor: pointer;
}

.btn {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 15px 20px;
  cursor: pointer;
}

.info {
  font-weight: 300;
  letter-spacing: 1.01px;
  line-height: 25px;
  margin: 0 20px 30px;
}
@media (min-width: 768px) {
  .info {
    margin-left: 100px;
    margin-right: 100px;
  }
}

.nav-link {
  cursor: pointer;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
  position: relative;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
  overflow: hidden;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

/* ============================================= */
/*              Base styles                      */
/* ============================================= */
* {
  font-family: "Ubuntu", sans-serif;
  color: #4b5862;
  box-sizing: border-box;
}

/* ============================================= */
/*              Typography                       */
/* ============================================= */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Overpass", sans-serif;
}

h3 {
  margin: 20px 30px;
  font-size: 25px;
}

/* ============================================= */
/*        General Page Layout                    */
/* ============================================= */
html {
  scroll-behavior: smooth;
}

/* ============================================= */
/*              Media Queries                    */
/* ============================================= */
/* ============================================= */
/*              Main Navigation                  */
/* ============================================= */
nav {
  width: 100%;
  z-index: 3;
}

.laptop-nav {
  display: none;
}
@media (min-width: 1024px) {
  .laptop-nav {
    display: flex;
    align-items: center;
    margin: 50px 100px;
  }
}
.laptop-nav .laptop-nav-ul {
  display: flex;
  padding-left: 0;
}
.laptop-nav .laptop-nav-ul li {
  list-style-type: none;
  margin-left: 50px;
  color: #fff;
  position: relative;
}
.laptop-nav .laptop-nav-ul ul li {
  list-style-type: none;
  color: #000;
}
.laptop-nav .laptop-nav-ul .laptop-link-ul {
  background-color: #fff;
  position: absolute;
  text-align: left;
  padding: 20px 30px;
  border-radius: 10px;
  margin-top: 20px;
}
.laptop-nav .laptop-nav-ul .laptop-link-ul li {
  margin-left: 0;
  margin-top: 15px;
}
.laptop-nav .laptop-nav-ul .laptop-link-ul li:first-child {
  margin-top: 0;
}
.laptop-nav .hide {
  display: none;
}
.laptop-nav .laptop-nav-cta {
  margin-left: auto;
}
.laptop-nav .laptop-nav-cta .btn {
  border: none;
  color: #fff;
}
.laptop-nav .laptop-nav-cta .white-btn {
  padding: 15px 30px;
}
.laptop-nav .chevron {
  margin-left: 10px;
}

.logo-hamburger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 20px 10px;
}
@media (min-width: 1024px) {
  .logo-hamburger {
    display: none;
  }
}

.mobile-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 60vh;
  z-index: 3;
  display: flex;
  justify-content: center;
  transform: translateY(-100%);
  transition: transform 0.5s;
}
@media (min-width: 1024px) {
  .mobile-nav {
    display: none;
  }
}
.mobile-nav .mobile-nav-ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.mobile-nav li {
  list-style-type: none;
  margin-bottom: 20px;
  font-size: 20px;
}
.mobile-nav li :hover {
  transition: color 0.3s;
}
.mobile-nav .ul-dropdown {
  display: none;
}

/* ============================================= */
/*              Header Section                   */
/* ============================================= */
header {
  color: #fff;
  background: linear-gradient(#ff8f70, #ff3d54);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 80px;
  border-radius: 0 0 0 80px;
  position: relative;
  overflow: hidden;
}
header h1 {
  margin-top: 0;
}
@media (min-width: 1024px) {
  header h1 {
    font-size: 2.5em;
  }
}
header p {
  font-weight: 400;
}
header .header-intro {
  margin: 20px;
  z-index: 2;
}
header .header-background {
  width: 1250px;
  z-index: -1;
  position: absolute;
  left: -333px;
  top: -261px;
}
@media (min-width: 1024px) {
  header .header-background {
    width: 2407px;
    left: -342px;
    top: -1033px;
  }
}
header .lead-in {
  margin-bottom: 60px;
  font-weight: 300;
}
header .header-btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (min-width: 1024px) {
  header .header-btns {
    justify-content: center;
  }
  header .header-btns .btn {
    margin-left: 20px;
  }
}

/* ============================================= */
/*              Main Content Section             */
/* ============================================= */
main {
  text-align: center;
  margin-top: 80px;
}

.illustration-mobile-container {
  margin: 30px 0;
}

.illustration-laptop-container {
  display: none;
}

.illustration-mobile,
.illustration-laptop {
  width: 100%;
}
@media (min-width: 768px) {
  .illustration-mobile,
.illustration-laptop {
    width: 70%;
  }
}

@media (min-width: 1024px) {
  .designed {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px auto auto;
    grid-template-areas: "heading heading" "intro laptop" "robust laptop";
    position: relative;
  }
  .designed h2 {
    grid-area: heading;
    font-size: 2em;
  }
  .designed .illustration-mobile-container {
    display: none;
  }
  .designed .illustration-laptop-container {
    display: block;
    grid-area: laptop;
    position: absolute;
    top: -68px;
    right: -38%;
  }
}
@media (min-width: 1024px) and (min-width: 1440px) {
  .designed .illustration-laptop-container {
    right: -25%;
  }
}
@media (min-width: 1024px) and (min-width: 1700px) {
  .designed .illustration-laptop-container {
    right: -1%;
  }
}
@media (min-width: 1024px) {
  .designed .illustration-laptop-container .editor-laptop {
    width: 768px;
  }
}
@media (min-width: 1024px) {
  .designed #intro {
    grid-area: intro;
    text-align: left;
  }
  .designed #intro h3 {
    margin-left: 100px;
  }
}
@media (min-width: 1024px) {
  .designed #robust {
    grid-area: robust;
    text-align: left;
  }
  .designed #robust h3 {
    margin-left: 100px;
  }
}

.content-section {
  position: relative;
  z-index: 6;
  margin-top: 40px;
}

.blue-section {
  background: linear-gradient(#2c2d3f, #3f4164);
  position: relative;
  padding-top: 0;
  border-radius: 0 80px 0 80px;
  margin-top: 270px;
}
@media (min-width: 768px) {
  .blue-section {
    margin-top: 400px;
  }
}
@media (min-width: 1024px) {
  .blue-section {
    display: flex;
    flex-direction: row-reverse;
    margin: 180px 0;
  }
}
@media (min-width: 1440px) {
  .blue-section {
    margin: 280px 0;
  }
}
.blue-section .illustration-phones {
  width: 100%;
  position: absolute;
  top: -184px;
  left: 0px;
  z-index: 7;
}
@media (min-width: 768px) {
  .blue-section .illustration-phones {
    width: 425px;
    top: -190px;
    left: 160px;
  }
}
@media (min-width: 1024px) {
  .blue-section .illustration-phones {
    width: 450px;
    top: -61px;
    left: 35px;
  }
}
@media (min-width: 1440px) {
  .blue-section .illustration-phones {
    width: 432px;
    top: -51px;
    left: 123px;
  }
}
.blue-section .blue-info-container {
  position: relative;
  overflow: hidden;
  padding-top: 147px;
  padding-bottom: 100px;
  border-radius: 0 80px 0 80px;
}
@media (min-width: 375px) {
  .blue-section .blue-info-container {
    padding-top: 200px;
  }
}
@media (min-width: 405px) {
  .blue-section .blue-info-container {
    padding-top: 255px;
  }
}
@media (min-width: 1024px) {
  .blue-section .blue-info-container {
    padding-top: 0;
    padding-bottom: 50px;
    padding-top: 50px;
    margin-right: 40px;
    text-align: left;
  }
}
.blue-section .blue-info-container .content-section {
  margin-top: 0;
}
@media (min-width: 1024px) {
  .blue-section .blue-info-container .content-section {
    margin-left: auto;
    width: 50%;
  }
  .blue-section .blue-info-container .content-section h2 {
    margin-left: 100px;
    font-size: 2em;
  }
}
.blue-section .background-circles {
  width: 162%;
  position: absolute;
  top: -256px;
  left: -114px;
  z-index: 5;
}
@media (min-width: 768px) {
  .blue-section .background-circles {
    top: -632px;
    left: -152px;
  }
}
@media (min-width: 1024px) {
  .blue-section .background-circles {
    width: 100%;
    top: -580px;
    left: -284px;
  }
}
@media (min-width: 1440px) {
  .blue-section .background-circles {
    width: 71%;
  }
}

.laptop-container {
  margin: 40px 0;
}
@media (min-width: 1024px) {
  .laptop-container .illustration-laptop {
    display: none;
  }
}
.laptop-container .illustration-laptop-laptop {
  display: none;
}
@media (min-width: 1024px) {
  .laptop-container .illustration-laptop-laptop {
    display: block;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .grid-two {
    margin-bottom: 100px;
    margin-top: 250px;
    padding-bottom: 100px;
  }
}
.grid-two .laptop-container {
  grid-area: img;
}
@media (min-width: 1024px) {
  .grid-two .laptop-container {
    position: absolute;
    width: 800px;
    top: -166px;
    left: -271px;
  }
}
@media (min-width: 1440px) {
  .grid-two .laptop-container {
    width: 840px;
  }
}
.grid-two #free {
  grid-area: free;
}
@media (min-width: 1024px) {
  .grid-two #free {
    text-align: left;
  }
  .grid-two #free h2 {
    margin-left: 100px;
  }
}
.grid-two #powerful {
  grid-area: powerful;
}
@media (min-width: 1024px) {
  .grid-two #powerful {
    text-align: left;
  }
  .grid-two #powerful h2 {
    margin-left: 100px;
  }
}
@media (min-width: 1024px) {
  .grid-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "img free" "img powerful";
    position: relative;
  }
}

/* ============================================= */
/*              Footer Section                   */
/* ============================================= */
footer {
  background-color: #25252d;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 30px;
  border-radius: 0 80px 0 0;
  margin-top: 80px;
}
@media (min-width: 1024px) {
  footer {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  footer .footer-section {
    margin-top: 0;
  }
  footer .footer-section:last-child {
    margin-right: 50px;
  }
}

.footer-section {
  margin-top: 50px;
}

.footer-ul {
  color: #fff;
  list-style: none;
  padding-left: 0;
}
.footer-ul li {
  color: #c8c8cb;
  margin-bottom: 10px;
}
.footer-ul li:first-child {
  margin-top: 25px;
}

.attribution {
  margin-top: 40px;
}

/*# sourceMappingURL=styles.css.map */
