/* ============================================= */
/*              Main Content Section             */
/* ============================================= */

main {
  text-align: center;
  margin-top: 80px;
}

.illustration-mobile-container {
  margin: 30px 0;
}

.illustration-laptop-container {
  display: none;
}

.illustration-mobile,
.illustration-laptop {
  width: 100%;
  @media (min-width: 768px) {
    width: 70%;
  }
}

.designed {
  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px auto auto;
    grid-template-areas:
      "heading heading"
      "intro laptop"
      "robust laptop";
    position: relative;
    h2 {
      grid-area: heading;
      font-size: 2em;
    }
    .illustration-mobile-container {
      display: none;
    }
    .illustration-laptop-container {
      display: block;
      grid-area: laptop;
      position: absolute;
      top: -68px;
      .editor-laptop {
        width: 150%;
      }
    }
    #intro {
      grid-area: intro;
      text-align: left;
      h3 {
        margin-left: 50px;
      }
    }
    #robust {
      grid-area: robust;
      text-align: left;
      h3 {
        margin-left: 50px;
      }
    }
  }
}

.content-section {
  position: relative;
  z-index: 6;
  margin-top: 40px;
}

.blue-section {
  background: linear-gradient($blue-gradient-top, $blue-gradient-bottom);
  position: relative;
  padding-top: 0;
  border-radius: 0 80px 0 80px;
  margin-top: 270px;
  @media (min-width: 768px) {
    margin-top: 400px;
  }
  @media (min-width: 1024px) {
    display: flex;
    flex-direction: row-reverse;
    margin: 180px 0;
  }
  .illustration-phones {
    width: 100%;
    position: absolute;
    top: -184px;
    left: 0px;
    z-index: 7;
    @media (min-width: 768px) {
      width: 70%;
      top: -302px;
      left: 100px;
    }
    @media (min-width: 1024px) {
      width: 44%;
      top: -61px;
      left: 35px;
    }
  }
  .blue-info-container {
    position: relative;
    overflow: hidden;
    padding-top: 147px;
    padding-bottom: 100px;
    border-radius: 0 80px 0 80px;
    @media (min-width: 375px) {
      padding-top: 200px;
    }
    @media (min-width: 405px) {
      padding-top: 255px;
    }
    @media (min-width: 1024px) {
      padding-top: 0;
      padding-bottom: 50px;
      padding-top: 50px;
      margin-right: 40px;
      //   width: 50%;
      text-align: left;
    }
    .content-section {
      margin-top: 0;
      @media (min-width: 1024px) {
        margin-left: auto;
        width: 50%;
        h2 {
          margin-left: 50px;
          font-size: 2em;
        }
      }
    }
  }
  .background-circles {
    width: 162%;
    position: absolute;
    top: -256px;
    left: -114px;
    z-index: 5;
    @media (min-width: 768px) {
      top: -632px;
      left: -152px;
    }
    @media (min-width: 1024px) {
      width: 100%;
      top: -580px;
      left: -284px;
    }
  }
}

.laptop-container {
  margin: 40px 0;
}
