/* ============================================= */
/*              Main Navigation                  */
/* ============================================= */

nav {
  width: 100%;
  z-index: 3;
}

.laptop-nav {
  display: none;
  @media (min-width: 1024px) {
    display: flex;
    align-items: center;
    margin: 50px 100px;
  }
  .laptop-nav-ul {
    display: flex;
    padding-left: 0;
    li {
      list-style-type: none;
      margin-left: 50px;
      color: $white-txt;
    }
    ul {
      display: none;
      li {
        list-style-type: none;
      }
    }
  }
  .laptop-nav-cta {
    margin-left: auto;
    .btn {
      border: none;
      color: $white-txt;
    }
    .white-btn {
      padding: 15px 30px;
    }
  }
  .chevron {
    margin-left: 10px;
  }
}

.logo-hamburger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 20px 10px;
  @media (min-width: 1024px) {
    display: none;
  }
}

.mobile-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 60vh;
  z-index: 3;
  display: flex;
  justify-content: center;
  // Sets the default position of overlay to off-screen
  transform: translateY(-100%);
  transition: transform 0.5s;
  @media (min-width: 1024px) {
    display: none;
  }
  .mobile-nav-ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  li {
    list-style-type: none;
    margin-bottom: 20px;
    font-size: 20px;
    :hover {
      transition: color 0.3s;
    }
  }
  .ul-dropdown {
    display: none;
  }
}
